body {
    background: #0c0c14fb;
    color: red;
    
    
    
}

.navegar{
    padding: 3% ;
    background: #2c0101;
    
}

.navegar ul li a {
    color: rgb(17, 240, 13);
    text-decoration: none;
    font-size: 150%;
    
}

.navegar li{
    list-style: none;
}

.navegar ul{
    display: flex;
    justify-content: space-between;
}

.navegar ul li a:hover{
    color: rgb(64, 13, 216);
    
}

.navegar ul li a:active{
    color: blue;
}

h3{
    display:inline-block;
    padding: 0% ;
    

}

.nombre{
    color: rgb(59, 244, 13);
    font-family: cursive;
    margin-left: 1%;
}

.colchon{
    color: rgb(52, 23, 216);
    margin-left: 5%;
}

.lugar{
    color: rgb(255, 0, 115);
    margin-left: 10%;
}
 

 
    
    
