

table {
    white-space: nowrap;
    margin: 2%;
    
}




.navegar ul li a {
 
    text-decoration: none;
    
    
}

.navegar li{
    list-style: none;
}

.navegar ul{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
}
 



 

 
    
    
