
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrega de colchones</title>
    
    <script src="{% static 'js/cdn.tailwindcss.js' %}"></script>
    <link rel="icon" type="image/png" href="{% static '/css/icono.png' %}">
    
</head>
<body class="bg-gray-500">
    <nav class="bg-gray-800">
        <ul class="flex justify-around content-start p-3 m-1  ">
            <li>
                <a href="{% url 'Vienvenidos' %}" class="text-white whitespace-no-wrap ">✅</a>
            </li>
            <li>
                <a href="{% url 'Residencia_1' %}" class="text-white whitespace-no-wrap">Res 1</a>
            </li>
            <li>
                <a href="{% url 'Residencia_2' %}" class="text-white whitespace-no-wrap">Res 2</a>
            </li>
            <li>
                <a href="{% url 'Residencia_3' %}" class="text-white whitespace-no-wrap">Res 3</a>
            </li>
            <li>
                <a href="{% url 'Residencia_4' %}" class="text-white whitespace-no-wrap">Res 4</a>
            </li>
            <li>
                <a href="{% url 'Residencia_5' %}" class="text-white whitespace-no-wrap">Res 5</a>
            </li>
            <li>
                <a href="{% url 'Residencia_6' %}" class="text-white whitespace-no-wrap">Res 6</a>
            </li>
            <li>
                <a href="/admin" class="text-white whitespace-no-wrap">👑</a>
            </li>
        </ul>
        
        
    </nav>
    
    {% block conten %}
    
    {%endblock %}
</body>
</html>